<!DOCTYPE html>
<html  lang="ro">
    <head>

        <title>Noir Threads</title>

        <meta name="keywords" content="produs, sortare, filtru, search, căutare, tricouri, rochii, fuste, pantaloni, încălțăminte bumbac, poliester, elastan, in, piele, nylon, mătase, ">
        <meta name="description" content="Descoperă o gamă variată de haine și merchandise pliate pe stilul alternativ, metal și excentric. Participă la jocul zilnic și câștigă reduceri pentru comenzile tale. Alege din produsele noastre unice și beneficiază de livrare rapidă la domiciliu sau pick-up din magazin.">

        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    
        <%- include("../fragmente/head") %>    

        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>

    <!-- 
    text	nume	x
    range (x2)	pret	x x
    datalist	categorie	x x
    radio group	culoare 
    checkbox(x1)	pentru membri	xx
    textarea	descriere x
    select simplu	trupa x
    select multiplu	materiale xx
    -->
        <label> Nume: <input type="text" id="inp-nume"></label>
        
        <div> Culoare:
            <p>Orice culoare<label>
                <input type="radio" name="rad-culoare" value="toate" checked>
            </label></p>
            <% for (let i = 0; i < culori.length; i++) { 
                let c = culori[i].unnest;
            %>
                <p>
                    <label>
                        <%= c.charAt(0) + c.slice(1).toLowerCase() %>
                        <input type="radio" name="rad-culoare" value="<%= c.toLowerCase() %>" id="rad-culoare-<%= i %>">
                    </label>
                </p>
            <% } %>
        </div>

        <div> Doar produse pentru membri:
            <label>
                <input type="checkbox" id="chk-membru" />
            </label>
        </div>

        <label for="inp-descriere">Descriere:<br/>
            <textarea id="inp-descriere" name="descriere" rows="3" cols="40" placeholder="Ex: de seară,..."></textarea>
        </label>
        
        <label> Pret minim: <input type="range" id="inp-pret-min" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>
        <label> Pret maxim: <input type="range" id="inp-pret-max" value="0" min="0"  max="70"> <span id="infoRange">(0)</span></label>

        <label>Select simplu:
            <select id="inp-trupa">
                <option id="sel-toate" selected value="toate">Toate</option>
                <% for (let opt of locals.trupe) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <label>Select multiplu:
            <select id="inp-materiale" multiple size="3">
                <% for (let mat of materiale) { %>
                    <option value="<%= mat %>"><%= mat.charAt(0).toUpperCase() + mat.slice(1).toLowerCase() %></option>
                <% } %>
            </select>
        </label>

        <label for="inp-categorie">Categorie:
            <input type="text" id="inp-categorie" name="categorie" list="lista-categorii" placeholder="Alege o categorie">
            <datalist id="lista-categorii">
            <%  
                for (let cat of categorii) { %>
                    <option value="<%= cat.unnest %>">
            <%      
                } %>
            </datalist>
        </label>

        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa pret si lungimea descrierii</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa pret si lungimea descrierii</button>
        
        </p>
      
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
  
        <section id="produse">

            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" id="art<%= prod.id %>">
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%> RON</span></p>
                            <p class="culoare">Culoare: <span class="val-culoare"><%- prod.culoare %></span></p>
                            <p class="trupa">Trupa: <span class="val-trupa"><%- prod.trupa %></span></p>
                            <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere %></span></p>
                            <p class="membru">Program de fidelitate: <span class="val-membru"> <%= prod.pentru_membri ? "da" : "nu" %></span></p>

                        </div>
                        <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.cale_imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>