<!DOCTYPE html>
<html  lang="ro">
    <head>

        <title>Noir Threads</title>

        <meta name="keywords" content="produs, sortare, filtru, search, căutare, tricouri, rochii, fuste, pantaloni, încălțăminte bumbac, poliester, elastan, in, piele, nylon, mătase, ">
        <meta name="description" content="Descoperă o gamă variată de haine și merchandise pliate pe stilul alternativ, metal și excentric. Participă la jocul zilnic și câștigă reduceri pentru comenzile tale. Alege din produsele noastre unice și beneficiază de livrare rapidă la domiciliu sau pick-up din magazin.">

        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    
        <%- include("../fragmente/head") %>    

        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main>

    <!-- 
    text	nume	x
    range (x2)	pret	x x
    datalist	firma	x x
    radio group	culoare 
    checkbox(x1)	pentru membri	xx
    textarea	descriere x
    select simplu	trupa x
    select multiplu	materiale xx
    -->
        
    <div class="container mt-4">
        <div class="row gy-4 gx-3">
            <div class="col-md-6 col-lg-4">
                <label for="inp-nume" class="form-label"><%= locals.coloane[1] %></label>
                <input type="text" class="form-control" id="inp-nume">
            </div>

            <div class="col-md-6 col-lg-4">
                <label for="inp-firma" class="form-label"><%= locals.coloane[6] %></label>
                <input type="text" class="form-control" id="inp-firma" list="lista-firme" placeholder="Alege o firmă">
                <datalist id="lista-firme">
                    <% for (let fir of firme) { %>
                        <option value="<%= fir.unnest %>">
                    <% } %>
                </datalist>

            </div>


            <div class="col-md-6 col-lg-4">
                <label for="inp-trupa" class="form-label"><%= locals.coloane[5] %></label>
                <select class="form-select" id="inp-trupa">
                    <option value="toate">Toate</option>
                    <% for (let t of trupe) { %>
                    <option value="<%= t.unnest %>"><%= t.unnest %></option>
                    <% } %>
                </select>
            </div>

            <div class="col-12">
                <label class="form-label d-block"><%= locals.coloane[10] %></label>
                <div class="btn-group flex-wrap" role="group">
                    <input type="radio" class="btn-check" name="rad-culoare" id="culoare-toate" value="toate" checked>
                    <label class="btn btn-outline-primary" for="culoare-toate">Toate</label>
                    <% for (let i = 0; i < culori.length; i++) 
                        { let c = culori[i].unnest; %>
                    <input type="radio" class="btn-check" name="rad-culoare" id="rad-culoare-<%= i %>" value="<%= c.toLowerCase() %>">
                    <label class="btn btn-outline-primary" for="rad-culoare-<%= i %>"><%= c.charAt(0) + c.slice(1).toLowerCase() %></label>
                    <% 
                    } %>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <label class="form-label d-block">Doar <%= locals.coloane[12] %></label>
                <div class="btn-group" role="group">
                    <input type="checkbox" class="btn-check" id="chk-membru">
                    <label class="btn btn-outline-secondary" for="chk-membru">Da</label>
                </div>
            </div>

            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" id="inp-descriere" name="descriere" placeholder="Ex: elegant, ..." style="height: 100px"></textarea>
                    <label for="inp-descriere"><%= locals.coloane[2] %></label> <!-- vreau sa fie pe toata lungimea-->
                    <div class="invalid-feedback">Descrierea trebuie să aibă cel puțin 3 caractere.</div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <label for="inp-pret-min" class="form-label">Preț minim</label>
                <input type="range" class="form-range" id="inp-pret-min" min="<%= locals.pretMin %>" max="<%= locals.pretMax %>" value="<%= locals.pretMin %>" step="0.01">
                <span id="info-pret-min">(<%= locals.pretMin %>)</span>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <label for="inp-pret-max" class="form-label">Preț maxim</label>
                <input type="range" class="form-range" id="inp-pret-max" min="<%= locals.pretMin %>" max="<%= locals.pretMax %>" value="<%= locals.pretMax %>" step="0.01">
                <span id="info-pret-max">(<%= locals.pretMax %>)</span>
            </div>
           
            <div class="col-md-6 col-lg-4">
                <label for="inp-materiale" class="form-label"><%= locals.coloane[11] %></label>
                <select id="inp-materiale" class="form-select" multiple size="3">
                    <% for (let mat of materiale) 
                    { %>
                        <option value="<%= mat %>"><%= mat.charAt(0).toUpperCase() + mat.slice(1).toLowerCase() %></option>
                    <%}
                     %>
                </select>
            </div>

            <div class="col-12">
                <div class="d-flex flex-wrap gap-2">
                    <button class="btn btn-primary" id="filtrare">
                    <i class="bi bi-funnel-fill me-2"></i>
                    <span class="btn-text">Filtrează</span> <!-- nu functionza bootstrap cu "d-none d-md-inline"-->
                    </button>
                    <button class="btn btn-secondary" id="resetare">
                    <i class="bi bi-arrow-clockwise me-2"></i>
                    <span class="btn-text">Resetează</span>
                    </button>
                    <button class="btn btn-primary" id="sortCrescNume">
                    <i class="bi bi-sort-alpha-down me-2"></i>
                    <span class="btn-text">Sortare ascendentă</span>
                    </button>
                    <button class="btn btn-primary" id="sortDescrescNume">
                    <i class="bi bi-sort-alpha-up me-2"></i>
                    <span class="btn-text">Sortare descendentă</span>
                    </button>
                </div>
            </div>

            
        </div>
    </div>
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
  
        <section id="produse">

            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" id="art<%= prod.id %>">
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="culoare" style = "display: none;">Culoare: <span class="val-culoare"><%- prod.culoare %></span></p>
                            <p class="trupa">Trupa: <span class="val-trupa"><%- prod.trupa %></span></p>
                            <p class="descriere" style = "display: none;">Descriere: <span class="val-descriere"><%- prod.descriere %></span></p>
                            <p class="membru">Program de fidelitate: <span class="val-membru"> <%= prod.pentru_membri ? "da" : "nu" %></span></p>
                            <p class="firma">Firma: <span class="val-firma"><%- prod.firma%></span></p>
                            <p class="materiale" style = "display: none;">Materiale: <span class="val-materiale"><%- prod.materiale%></span></p>
                        </div>
                        <div id="container-pret"><p class="pret" >Pret: <span class="val-pret"><%- prod.pret%></span></p></div>
                        <div class="container-poza">
                            <figure>
                                <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.cale_imagine %>" alt="[imagine <%- prod.nume %>]" /></a>
                            </figure>
                        </div>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>